@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the default light theme */
:root {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light;
  color: #003c08;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Define button styles for the light theme */
button {
  background-color: #f9f9f9;
}

/* laptops xl */
@media screen and (min-width: 1480px) {
}

/* tablets md */
@media screen and (max-width: 800px) {
  .text-5xl {
    font-size: 2.5rem;
  }
  .text-xl {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

/* phones sm */
@media screen and (max-width: 650px) {
  .text-5xl {
    font-size: 1.5rem;
  }
  .text-4xl {
    font-size: 1.3rem;
  }
  .text-3xl {
    font-size: 1.25rem;
  }
  .text-2xl {
    font-size: 1.1rem;
  }
  .text-xl {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .text-lg {
    font-size: 0.65rem;
  }
}
